body {
    background-color: rgb(207, 198, 167);
}
h1 {    
    font-size: 25px;
    font-family:'Times New Roman';
    text-decoration: none;
}
.header{
    background-color: rgb(185, 172, 97);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 12px;
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
}
.body{
    background-color: rgb(158, 124, 0);
    text-align: center;
    display: block;
    margin: auto;
    font-family: Verdana;
    max-width: 60%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}
.sideCol{
    background-color: rgb(211, 199, 132);
    text-align: center;
    display: inline-block;
    /* margin: auto; */
    font-family: Verdana;
    max-width: 22%;
    padding-inline: 1%;
}
.mainCol{
    background-color: rgb(211, 199, 132);
    text-align: center;
    display: inline-block;
    /* margin: auto; */
    font-family: Verdana;
    max-width: 48%;
    padding-inline: 1%;
}